<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>OAuth2.0</servlet-name>
        <servlet-class>com.huinfo.auth.as.servlet.OAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.huinfo.auth.as.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMSCheckCode</servlet-name>
        <servlet-class>com.huinfo.auth.as.servlet.CheckCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.huinfo.auth.as.servlet.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuth2.0</servlet-name>
        <url-pattern>/o2/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMSCheckCode</servlet-name>
        <url-pattern>/checkcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
