<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="BAE">
        <environment id="Development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://192.168.1.2:3306/oauth?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="root" />
                <property name="password" value="zhang" />
            </dataSource>
        </environment>
        <environment id="BAE">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://sqld.duapp.com:4050/hZbDVmkJtTzUSSegQHdE?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="jmGBIF9XMW93hTDIann17nBj" />
                <property name="password" value="fPCGZ6HiflSTamprjTBTejusRU7Oglb1" />
            </dataSource>
        </environment>
        <environment id="Aliyun">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/oauth?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="root" />
                <property name="password" value="ywx2012" />
                <!--<property name="driver.encoding" value="UTF8" />
                <property name="poolMaximumActiveConnections" value="20"/>
                <property name="poolMaximumIdleConnections" value="5"/>
                <property name="poolMaximumCheckoutTime" value="20000"/>-->
                <property name="poolTimeToWait" value="20000"/>
                <property name="poolPingQuery" value="select * from ibatis"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingConnectionsNotUsedFor" value="18000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/huinfo/auth/as/dao/AccessTokenMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/AccesstokenScopesMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ClientAttributesMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ClientMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ClientRedirecturisMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ClientScopesMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ResourceServerMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ResourceServerScpoesMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ResourceOwnMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/ResourceOwnInfoMapper.xml"/>
        <mapper resource="com/huinfo/auth/as/dao/TrustedDomainMapper.xml"/>
    </mappers>
</configuration>